.text-sm .btn-x-sm {
    font-size: .7rem !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.b-t-green {
    border-top: 3px solid forestgreen ;
}
