.text-sm .btn-x-sm {
    font-size: .7rem !important;
}

/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {*/
/*    font-family: 'Merriweather Sans', sans-serif;*/
/*}*/

.b-t-green {
    border-top: 3px solid forestgreen;
}

.main {
    background-image: url("/img/bg_contit.gif") !important;
    /*font-family: 'Roboto Condensed', sans-serif;*/
}

/*a {*/
/*    font-family: 'Merriweather Sans', sans-serif;*/
/*}*/

/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {*/
/*    font-family: 'Merriweather Sans', sans-serif;*/
/*}*/

/*strong {*/
/*    font-family: 'Merriweather Sans', sans-serif;*/
/*}*/

/*p, span, b {*/
/*    font-family: 'Merriweather Sans', sans-serif;*/
/*}*/

table.dataTable {
    border-collapse: collapse !important;
}

#upload-demo {
    height: 250px;
    padding-bottom: 25px;
}


body {
    margin: 0 auto;
}

ul.checktree {
    list-style-type: none;
    padding-inline-start: 0
}

.checktree ul {
    list-style-type: none;
}

ul.checktree li:before {
    height: 1em;
    width: 12px;
    border-bottom: 1px dashed;
    content: "";
    display: inline-block;
    top: -0.3em;
}

ul.checktree li {
    border-left: 1px dashed;
}

ul.checktree li:last-child:before {
    border-left: 1px dashed;
}

ul.checktree li:last-child {
    border-left: none;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2;
    }
}
